<!--
  File Name: index.ejs
  Author: Adrian Dumitriu
  Student ID: 300566849
  Web App Name: Favourite Books
--> 

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
